{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true
  },
  "globals": {
    "Q": true,
    "canvas": true,
    "ctx": true,
    "update": true,
    "render": true,
    "reset": true,
    "DSP_Object": true,
    "DSP_Player": true,
    "DSP_Mob": true,
    "DSP_Sprite": true,
    "DSP_StaticObject": true,
    "player": true,
    "playerOriginalX": true,
    "playerOriginalY": true,
    "inputAction": true,
    "loadSprite": true,
    "gameObjects": true,
    "collisionableObjects": true
  }
}
