{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "inject": true,
    "canvas": true,
    "ctx": true,
    "update": true,
    "render": true,
    "reset": true,
    "player": true,
    "playerX": true,
    "playerY": true,
    "inputAction": true,
    "staticObjects": true
  }
}
