{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "canvas": true,
    "ctx": true,
    "update": true,
    "render": true,
    "reset": true,
    "DSP_Player": true,
    "DSP_StaticObject": true,
    "player": true,
    "playerOriginalX": true,
    "playerOriginalY": true,
    "inputAction": true,
    "staticObjects": true,
    "collisionableObjects": true
  }
}
